{
    "branches": "main",
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        "@semantic-release/changelog",
        "@semantic-release/npm",
        [
            "@semantic-release/git",
            {
                "assets": [
                    "package.json",
                    "CHANGELOG.md"
                ],
                "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
            }
        ],
        [
            "@semantic-release/exec",
            {
                "prepareCmd": "./bash/release.ps1 -version ${nextRelease.version}"
            }
        ],
        [
            "@semantic-release/github",
            {
                "assets": [
                    {
                        "path": "src-tauri/target/release/learn-use-workflow.exe",
                        "name": "learn-use-workflow-${nextRelease.gitTag}.exe"
                    },
                    {
                        "path": "src-tauri/target/release/bundle/**"
                    }
                ]
            }
        ]
    ]
}